$font-stack: 'ProximaNova', sans-serif;
$ssm-green: #00b286;
$darker: #3f454d;
$gray: #70767f;
$lighter: #bec3cc;

@mixin bp($point) {
  $bp-tall: "(max-width: 600px)";
  $bp-grande: "(max-width: 1250px)";
  $bp-venti: "(max-width: 1500px)";

  @if $point == venti {
    @media #{$bp-venti} { @content; }
  }
  @else if $point == grande {
    @media #{$bp-grande} { @content; }
  }
  @else if $point == tall {
    @media #{$bp-tall}  { @content; }
  }
}

@mixin actions($color) {
  .actions {
    display: inline-block;
    opacity: 0.7;
    position: absolute;
    bottom: 30px;
    left: 30px;

    a, a:visited {
      color: $color;
      display: inline-block;
      padding-right: 30px;
      text-decoration: none;
    }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin w575() {
  max-width: 575px;
  width: 95%;
}

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-RegularIt.otf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-LightIt.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-SemiboldIt.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Bold.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-BoldIt.otf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Extrabld.otf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Black.otf);
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-LightIt.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-RegularIt.otf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-SemiboldIt.otf);
  font-weight: 600;
  font-style: italic;
}

* {
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  margin: 0;
  padding: 0;
}

@import 'navbar';

.view {
  padding-top: 60px;
}

.hero {
  background: #262728 url(../img/hero-bg.png) no-repeat center top;
  background-size: 100% 425px;
  height: 425px;
  margin: 0;
  padding: 125px 0 0 0;
  width: 100%;
  @include bp(venti) {
    background-size: auto;
  }

  .newMsg {
    background-color: #00b286;
    @include border-radius(4px);
    height: 156px;
    margin: 0 auto;
    opacity: 0.7;
    padding: 40px 30px 30px;
    position: relative;
    @include w575;
    z-index: 1;

    textarea {
      background-color: transparent;
      border-width: 0;
      color: #ffffff;
      font-size: 1.75rem;
      width: 100% 
    }
    textarea::-webkit-input-placeholder{
      color: #ffffff;
      opacity: 0.7;
    }
    textarea:-moz-placeholder {
      color: #ffffff;
      opacity: 0.7;
    }
    textarea::-moz-placeholder {
      color: #ffffff;
      opacity: 0.7;
    }
    textarea:-ms-input-placeholder {
      color: #ffffff;
      opacity: 0.7;
    }

    @include actions(#ffffff);
  }

  
}

.pageNav {
  font-size: 0.9rem;
  height: 2rem;
  margin: 0 auto;
  position: relative;
  top: -2.1rem;
  @include w575;

  .tabs {
    display: inline-block;
    height: 2rem;

    a {
      color: #ffffff;
      display: inline-block;
      opacity: 0.5;
      margin-right: 30px;
      padding: 0 1em 1em;
      text-decoration: none;
      text-transform: uppercase;
    }

    a.selected {
      border-bottom: 0.3em solid $ssm-green;
      opacity: 1.0;
    }
  }

  .viewCtrls {
    display: inline-block;
    float: right;
    height: 2rem;

    a {
      display: inline-block;
      border: 0;
      margin-left: 15px;
      text-decoration: none;
      opacity: 0.5;
    }

    a.selected {
      opacity: 1.0;
    }
  }
}

@import  'posts';

@import  'user';
