@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Regular.otf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-RegularIt.otf);
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Light.otf);
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-LightIt.otf);
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Semibold.otf);
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-SemiboldIt.otf);
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Bold.otf);
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-BoldIt.otf);
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Extrabld.otf);
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Black.otf);
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-Light.otf);
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-LightIt.otf);
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-Regular.otf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-RegularIt.otf);
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-Semibold.otf);
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-SemiboldIt.otf);
  font-weight: 600;
  font-style: italic; }
* {
  box-sizing: border-box;
  font-family: "ProximaNova", sans-serif; }

body {
  margin: 0;
  padding: 0; }

.navbar {
  background-color: #262728;
  display: inline-block;
  height: 60px;
  padding: 0 calc(((100% - 1500px) / 2) + 5%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998; }
  @media (max-width: 1500px) {
    .navbar {
      padding: 0 5%; } }
  .navbar a, .navbar a:visited {
    text-decoration: none; }
  .navbar img {
    border: 0; }
  .navbar .logo {
    font-size: 19px;
    padding-top: 16px;
    float: left; }
    .navbar .logo img {
      vertical-align: middle; }
    .navbar .logo .simply {
      color: #70767f; }
    .navbar .logo .social {
      color: #bec3cc; }
  .navbar .right {
    float: right; }
  .navbar .newMsgIcon {
    display: inline-block;
    padding-top: 16px; }
    .navbar .newMsgIcon img {
      vertical-align: middle; }
  .navbar .avatar {
    display: inline-block;
    padding-top: 16px; }
    .navbar .avatar img {
      vertical-align: middle; }
  .navbar .user {
    display: inline-block;
    position: relative; }
    .navbar .user .subMenu {
      background-color: #f4f5f7;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      opacity: 0;
      transition: opacity linear 0.15s;
      padding: 0;
      position: absolute;
      top: 85%;
      left: -25px;
      width: 100px;
      z-index: -1; }
      .navbar .user .subMenu li {
        border-bottom: 1px solid #bec3cc;
        display: block;
        font-size: 1rem; }
        .navbar .user .subMenu li a {
          color: #70767f;
          font-size: 0.9rem;
          display: block;
          padding: 10px 20px; }
      .navbar .user .subMenu li:last-child {
        border-bottom: 0; }
      .navbar .user .subMenu .arrow {
        border-bottom: 10px solid #f4f5f7;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 0;
        height: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: -6px;
        right: 26px;
        width: 0; }
  .navbar .user:hover .subMenu {
    opacity: 1;
    z-index: 1; }
  .navbar input.search {
    background: transparent url(../img/search.png) no-repeat right 5px center;
    border: solid 1px #70767f;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    height: 30px;
    margin: 0 15px;
    padding-left: 5px;
    padding-right: 20px;
    width: 200px; }

.view {
  padding-top: 60px; }

.hero {
  background: #262728 url(../img/hero-bg.png) no-repeat center top;
  background-size: 100% 425px;
  height: 425px;
  margin: 0;
  padding: 125px 0 0 0;
  width: 100%; }
  @media (max-width: 1500px) {
    .hero {
      background-size: auto; } }
  .hero .newMsg {
    background-color: #00b286;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    height: 156px;
    margin: 0 auto;
    opacity: 0.7;
    padding: 40px 30px 30px;
    position: relative;
    max-width: 575px;
    width: 95%;
    z-index: 1; }
    .hero .newMsg textarea {
      background-color: transparent;
      border-width: 0;
      color: #ffffff;
      font-size: 1.75rem;
      width: 100%; }
    .hero .newMsg textarea::-webkit-input-placeholder {
      color: #ffffff;
      opacity: 0.7; }
    .hero .newMsg textarea:-moz-placeholder {
      color: #ffffff;
      opacity: 0.7; }
    .hero .newMsg textarea::-moz-placeholder {
      color: #ffffff;
      opacity: 0.7; }
    .hero .newMsg textarea:-ms-input-placeholder {
      color: #ffffff;
      opacity: 0.7; }
    .hero .newMsg .actions {
      display: inline-block;
      opacity: 0.7;
      position: absolute;
      bottom: 30px;
      left: 30px; }
      .hero .newMsg .actions a, .hero .newMsg .actions a:visited {
        color: #ffffff;
        display: inline-block;
        padding-right: 30px;
        text-decoration: none; }

.pageNav {
  font-size: 0.9rem;
  height: 2rem;
  margin: 0 auto;
  position: relative;
  top: -2.1rem;
  max-width: 575px;
  width: 95%; }
  .pageNav .tabs {
    display: inline-block;
    height: 2rem; }
    .pageNav .tabs a {
      color: #ffffff;
      display: inline-block;
      opacity: 0.5;
      margin-right: 30px;
      padding: 0 1em 1em;
      text-decoration: none;
      text-transform: uppercase; }
    .pageNav .tabs a.selected {
      border-bottom: 0.3em solid #00b286;
      opacity: 1.0; }
  .pageNav .viewCtrls {
    display: inline-block;
    float: right;
    height: 2rem; }
    .pageNav .viewCtrls a {
      display: inline-block;
      border: 0;
      margin-left: 15px;
      text-decoration: none;
      opacity: 0.5; }
    .pageNav .viewCtrls a.selected {
      opacity: 1.0; }

.post {
  border: 1px solid #dee1e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  line-height: 1.5rem;
  padding: 20px 20px 20px 80px;
  position: relative; }

.post.list {
  margin: 20px auto;
  max-width: 575px;
  width: 95%; }
  .post.list .avatar {
    position: absolute;
    left: 20px;
    top: 20px; }
  .post.list .name {
    color: #3f454d;
    font-size: 1.1rem;
    padding-bottom: 0.25rem; }
  .post.list .controls {
    position: absolute;
    right: 20px;
    top: 20px; }
    .post.list .controls > a {
      display: inline-block;
      margin-left: 10px; }
    .post.list .controls > .ts {
      color: #bec3cc;
      display: inline-block;
      margin-left: 10px; }
  .post.list .msg {
    color: #70767f;
    font-size: 1rem; }
  .post.list a, .post.list a:visited {
    color: #bec3cc;
    text-decoration: none; }
  .post.list .photo {
    margin-top: 1rem;
    position: relative;
    left: -80px;
    width: calc(100% + 100px); }
  .post.list .video {
    margin-top: 1rem;
    position: relative;
    left: -80px;
    width: calc(100% + 100px); }

.newMsg {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999; }
  .newMsg .newMsgModal {
    background-color: #dee1e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #70767f;
    height: 215px;
    margin: 11% auto;
    padding: 25px 35px;
    position: relative;
    max-width: 575px;
    width: 95%; }
    .newMsg .newMsgModal .modalTitle {
      font-size: 1.2rem; }
    .newMsg .newMsgModal a.close {
      position: absolute;
      top: -25px;
      right: -25px; }
    .newMsg .newMsgModal textarea {
      background-color: #ffffff;
      color: #70767f;
      font-size: 1.75rem;
      height: 95px;
      margin: 0.75rem auto;
      padding: 5px 10px;
      width: 100%; }
    .newMsg .newMsgModal .btnPost {
      background-color: #00b286;
      border: 0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      color: #ffffff;
      cursor: pointer;
      font-size: 1.1rem;
      padding: 0.5rem 1.5rem;
      float: right; }
    .newMsg .newMsgModal .actions {
      display: inline-block;
      opacity: 0.7;
      position: absolute;
      bottom: 30px;
      left: 30px; }
      .newMsg .newMsgModal .actions a, .newMsg .newMsgModal .actions a:visited {
        color: #70767f;
        display: inline-block;
        padding-right: 30px;
        text-decoration: none; }

.settings {
  margin: 0 auto;
  padding: 0 0 3rem 0;
  max-width: 575px;
  width: 95%; }
  .settings h1 {
    color: #3f454d;
    font-size: 2rem; }
  .settings .section {
    border-bottom: 1px solid #bec3cc;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    position: relative; }
  .settings .sectionTitle {
    color: #70767f;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase; }
  .settings .sectionAccount {
    padding: 20px 20px 20px 130px; }
    .settings .sectionAccount .avatar {
      position: absolute;
      left: 0px;
      top: 20px; }
    .settings .sectionAccount input {
      color: #3f454d;
      border: 1px solid #bec3cc;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      font-size: 1.15rem;
      font-weight: 300;
      margin-bottom: 15px;
      padding: 0.75rem 0.5rem 0.5rem 36px;
      width: 350px; }
    .settings .sectionAccount input.name {
      background: transparent url(../img/name.png) no-repeat left 10px center; }
    .settings .sectionAccount input.email {
      background: transparent url(../img/email.png) no-repeat left 10px center; }
    .settings .sectionAccount input.password {
      background: transparent url(../img/lock.png) no-repeat left 10px center;
      padding-right: 20px; }
    .settings .sectionAccount a.changePassword, .settings .sectionAccount a.savePassword {
      color: #bec3cc;
      display: inline-block;
      font-size: 0.85rem;
      position: relative;
      left: -60px;
      top: -0.15rem;
      text-decoration: none; }
    .settings .sectionAccount a.savePassword {
      left: -45px; }

.switchLabel, .ccLabel, .ccLabelSm {
  color: #70767f;
  display: inline-block;
  margin-bottom: 1.5rem; }

.ccLabelSm {
  margin-bottom: 0.75rem; }

.circleCheck {
  background: #ffffff;
  border: 1px solid #bec3cc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  height: 26px;
  margin-right: 1rem;
  position: relative;
  width: 26px; }

.circleCheck input {
  visibility: hidden; }

.circleCheck label {
  background: #ffffff;
  border: 1px solid #bec3cc;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  cursor: pointer;
  display: block;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  z-index: 1; }

.circleCheck input[type=checkbox]:checked + label {
  background: #00b286; }

.circleCheck input[type=radio]:checked + label {
  background: #00b286; }

.btnGreen {
  background-color: #00b286;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem; }

.btnWhite {
  background-color: #ffffff;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: #bec3cc;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem; }

.btnAvatar {
  border: 1px solid #bec3cc;
  font-size: 0.9rem;
  padding: 0.25rem 0;
  position: absolute;
  left: 0px;
  top: 115px;
  text-align: center;
  width: 85px; }

/**
 * iOS 6 style switch checkboxes
 * by Lea Verou http://lea.verou.me
 * coloring modified
 */
:root input[type="checkbox"].ios-switch {
  /* :root here acting as a filter for older browsers */
  position: absolute;
  opacity: 0; }

:root input[type="checkbox"].ios-switch + div {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  margin: 0 .5em;
  background: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent), linear-gradient(90deg, #00b286 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  background-origin: border-box;
  background-clip: border-box;
  box-sizing: content-box;
  overflow: hidden;
  transition-duration: .4s;
  transition-property: padding, width, background-position, text-indent;
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0 0.45em 0 0.1em rgba(0, 0, 0, 0.05) inset;
  font-size: 150%;
  /* change this and see how they adjust! */ }

:root input[type="checkbox"].ios-switch:checked + div {
  background-position: 0 0;
  box-sizing: content-box;
  padding-left: 1em;
  width: 1em; }

:root input[type="checkbox"].ios-switch + div:before {
  content: ' ';
  float: left;
  width: 1.65em;
  height: 1.65em;
  margin: -.1em;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: inherit;
  box-sizing: content-box;
  background: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  box-shadow: 0 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.8) inset, 0 0 0.5em rgba(0, 0, 0, 0.3);
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -2.5em; }

:root input[type="checkbox"].ios-switch:active + div:before {
  background-color: #eee; }

:root input[type="checkbox"].ios-switch:focus + div {
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0 0.45em 0 0.1em rgba(0, 0, 0, 0.05) inset, 0 0 0.4em 1px rgba(255, 0, 0, 0.5); }

:root input[type="checkbox"].ios-switch + div:before,
:root input[type="checkbox"].ios-switch + div:after {
  font: bold 60%/1.9 sans-serif;
  text-transform: uppercase; }

:root input[type="checkbox"].ios-switch + div:after {
  content: ' ';
  float: left;
  text-indent: .5em;
  color: rgba(0, 0, 0, 0.45);
  text-shadow: none; }

/*# sourceMappingURL=app.css.map */
