$ssm-green: #00b286;

@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-RegularIt.otf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-LightIt.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-SemiboldIt.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Bold.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-BoldIt.otf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Extrabld.otf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNova-Black.otf);
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNovaCond';
  src: url(../fonts/proxima-nova/ProximaNovaCond-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNovaCond-LightIt.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNovaCond-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNovaCond-RegularIt.otf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNovaCond-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/proxima-nova/ProximaNovaCond-SemiboldIt.otf);
  font-weight: 600;
  font-style: italic;
}

